.chat-message {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1px;
  height: auto;
  width: 95%;
  color: #945521;
}
.chat-message-user {
  font-size: 18px;
  color: #945521;
}
.me {
  color: #582F33;
  font-weight: bold;
}
.chat-message-text {
  color: #945521;
  font-size: 18px;
  text-align: center;
}