.grid-cell {
  position: absolute;
  width: 32px;
  height: 48px;
}
.Character {
  transition: transform 0.4s;
}
.Character.you {
  z-index: 1;
}
.Character.you .Character_you-arrow {
  display: block;
}

@keyframes walk {
  from { background-position-x: 0px; }
  to { background-position-x: 128px; }
}

.Character_sprite {
  overflow: hidden;
  background: url(../images/russia.png);
}

.moving {
  animation: walk 0.4s steps(4) 1;
}

.Character_name-container {
  position: absolute;
  top: -8px;
  left: 4px;
  font-size: 5px;
  padding: 1px 2px 1px;
  border-radius: 3px;
  background: #333;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
}

