#sign-out {
  position: absolute;
  top: 2vh;
  right: 2vh;
  height: 6vh;
  font-size: 4vh;
  background-color: #FFD284;
  border: 4px solid #945521;
  border-radius: 4px;
}
#sign-out:hover {
  background-color: #EBA867;
}