#sign-in-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffd284;
  border-radius: 2px;
  border: 2px solid #945521;
}
#sign-in {
  height: 6vh;
  background-color: #ffd284;
  font-size: 4vh;
  border-radius: 5px;
}
#sign-in-container:hover {
  background-color: #eba867;
}
